<div ng-controller="ScheduleSettingController" style="background: #fff;overflow: auto;height:100%;padding: 15px;">
    <div class="row">
        <div class="col-md-3 pull-left">
            <button class="btn btn-info" ng-click="editSchedule(null, 'add')">
                添加新的上课时间
            </button>
            <button class="btn btn-info" ng-click="activate()">
                刷新
            </button>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <table ng-table="scheduleTableParams" class="table table-bordered table-hover table-condensed editable-table table-min" style="border:1px solid #eeeeee;">
            <tr ng-repeat="item in $data" ng-dblclick="showClass(item.gradeId)">
                <td data-title="'名称'" style="text-align: center;">{{item.scheduleName}}</td>
                <td data-title="'开始时间'" style="text-align: center;">{{item.start}}</td>
                <td data-title="'结束时间'" style="text-align: center;">{{item.end}}</td>
                <td data-title="'操作'" style="text-align: center;width:45%;">
                    <button class="btn btn-info" ng-click="editSchedule(item, 'edit')">编辑</button>
                    <button class="btn btn-danger" ng-click="deleteSchedule(item.scheduleId)">删除</button>
                </td>
            </tr>
        </table>
    </div>

</div>