<div ng-controller="StudentBaseInfoController" class="container-fluid" style="overflow: auto;padding-left:20px;">

    <h5>I 学籍信息</h5>
    <div class="col-xs-6 info-block">
        <span class="label">学号:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>
    <div class="col-xs-6 info-block">
        <span class="label">学籍号:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>

    <div class="col-xs-6 info-block">
        <span class="label">年级:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>
    <div class="col-xs-6 info-block">
        <span class="label">班级:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>


    <hr/>
    <h5>I 基础信息</h5>
    <div class="col-xs-6 info-block">
        <span class="label">姓名:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>
    <div class="col-xs-6 info-block">
        <span class="label">曾用名:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>

    <div class="col-xs-6 info-block">
        <span class="label">手机号:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>
    <div class="col-xs-6 info-block">
        <span class="label">身份证号:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>

    <div class="col-xs-6 info-block">
        <span class="label">性别:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>
    <div class="col-xs-6 info-block">
        <span class="label">出生年月:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>

    <div class="col-xs-6 info-block">
        <span class="label">户口所在地:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>
    <div class="col-xs-6 info-block">
        <span class="label">民族:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>

    <div class="col-xs-6 info-block">
        <span class="label">籍贯:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>
    <div class="col-xs-6 info-block">
        <span class="label">家庭住址:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>

    <div class="col-xs-6 info-block">
        <span class="label">户口所在地:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>
    <div class="col-xs-6 info-block">
        <span class="label">民族:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>

    <div class="col-xs-6 info-block">
        <span class="label">qq号码:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>
    <div class="col-xs-6 info-block">
        <span class="label">微信号码:</span>
        <div class="info-item">
            <input type="text" ng-model="offlineInfo.name" placeholder="姓名"  class="form-control" ng-if="isEdit"/>
            <span  ng-if="!isEdit">谢谢</span>
        </div>
    </div>

</div>