<div block-ui="edit-grade" class="container-fluid">

    <fieldset>
        <div class="row">
            <div class="col-md-12">
                <h5 style="margin-top: 0;" ng-show="type == 'add'">
                    <span class="icon-user"/>
                    添加年级
                </h5>
                <h5 style="margin-top: 0;" ng-show="type == 'edit'">
                    <span class="icon-user"/>
                    编辑年级
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="text-info">
                    <span>I 基本属性  (红色为必填)</span>
                </label>
            </div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" style="color:red">年级名称</span>
                    <input ng-class="!user.userName?'field-dirty' : ''" type="text" class="form-control" ng-model="grade.gradeName"/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" style="color:red">年级主任</span>
                    <input ng-class="!user.pwd?'field-dirty' : ''" type="text" class="form-control" ng-model="grade.charger">
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">主任电话</span>
                    <input ng-class="!user.name?'field-dirty' : ''" type="text" class="form-control" ng-model="grade.phone">
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">备注</span>
                    <input ng-class="!user.name?'field-dirty' : ''" type="text" class="form-control" ng-model="grade.detail">
                </div>
            </div>
        </div>
    </fieldset>


    <div class="row" style="text-align: center;margin-top:50px;">
        <div class="col-md-12" style="text-align: center;">
            <button data-style="expand-left" ladda="loading" class="btn btn-primary" ng-click="save(grade)">保存</button>
            <button class="btn btn-primary" ng-click="closeThisDialog('cancel')">取消</button>
        </div>
    </div>

</div>

