<div block-ui="edit-class" class="container-fluid">

    <fieldset>
        <div class="row">
            <div class="col-md-12">
                <h5 style="margin-top: 0;" ng-show="type == 'add'">
                    <span class="icon-user"/>
                    添加班级
                </h5>
                <h5 style="margin-top: 0;" ng-show="type == 'edit'">
                    <span class="icon-user"/>
                    编辑班级
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="text-info">
                    <span>I 基本属性  (红色为必填)</span>
                </label>
            </div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" style="color:red;">班级名称</span>
                    <ui-select ng-model="group.className" theme="bootstrap"
                               class="text-left" style="width:100%;">
                        <ui-select-match placeholder="选择班级名称">{{$select.selected}}
                        </ui-select-match>
                        <ui-select-choices repeat="name in nameList">
                            <span ng-bind-html="name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" style="color:red">班主任</span>
                    <input ng-class="!user.pwd?'field-dirty' : ''" type="text" class="form-control" ng-model="group.charger">
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">班主任电话</span>
                    <input ng-class="!user.name?'field-dirty' : ''" type="text" class="form-control" ng-model="group.phone">
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" style="color:red;">班级类型</span>
                    <ui-select ng-model="group.classType" theme="bootstrap"
                               class="text-left" style="width:100%;">
                        <ui-select-match placeholder="选择班级类型">{{$select.selected}}
                        </ui-select-match>
                        <ui-select-choices repeat="classType in classTypeList">
                            <span ng-bind-html="classType"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" style="color:red;">班级类别</span>
                    <ui-select ng-model="group.classLevel" theme="bootstrap"
                               class="text-left" style="width:100%;">
                        <ui-select-match placeholder="选择班级类别">{{$select.selected}}
                        </ui-select-match>
                        <ui-select-choices repeat="classLevel in classLevelList">
                            <span ng-bind-html="classLevel"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

    </fieldset>


    <div class="row" style="text-align: center;margin-top:50px;">
        <div class="col-md-12" style="text-align: center;">
            <button data-style="expand-left" ladda="loading" class="btn btn-primary" ng-click="save(group)">保存</button>
            <button class="btn btn-primary" ng-click="closeThisDialog('cancel')">取消</button>
        </div>
    </div>

</div>

