<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>消息列表</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.0/style/weui.min.css">
    <link rel="stylesheet" href="https://weui.io/example.css">
</head>
<body>

<div id="messageList">
    <div class="weui-panel__hd">消息列表</div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text" v-for="message in messageList">
            <h4 class="weui-media-box__title">{{message.title}}</h4>
            <p class="weui-media-box__desc">{{message.content}}</p>
            <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">文字来源</li>
                <li class="weui-media-box__info__meta">时间</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">其它信息</li>
            </ul>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>
<script type="text/javascript">
    var messageList = [{title:"第一次消息", content:"第一次消息正文"},{title:"第二次消息", content:"第二次消息正文"}]
    new Vue({
        el: '#messageList',
        data: {
            messageList: messageList
        }
    });
</script>
</body>
</html>
