<div class="his-datepicker ">
    <div class="his-date-range">
        <input type="text" max="9999-12-31"  uib-popover="开始日期" popover-placement="bottom" popover-animation="true" popover-trigger="mouseenter"
               ng-click="openDatePicker()"
               uib-datepicker-popup="yyyy-MM-dd"
               placeholder="开始日期"
               is-open="datePicker.opened"
               auto-fill-zero-in-date
               ng-model="value.startDate"
               onclick="var self = this; setTimeout(function() { self.focus()},200);"/>
        <div class="hr"></div>
        <input type="text" max="9999-12-31"  uib-popover="结束日期" popover-placement="bottom" popover-animation="true" popover-trigger="mouseenter"
               ng-click="openEndDatePicker()"
               uib-datepicker-popup="yyyy-MM-dd"
               placeholder="结束日期"
               is-open="endDatePicker.opened"
               auto-fill-zero-in-date
               ng-model="value.endDate"
               onclick="var self = this; setTimeout(function() { self.focus()},200);"/>

    </div>

</div>
