<div ng-controller="AccountController as account" style="background: #fff;overflow: auto;height:100%;padding: 15px;border: 1px solid #cfdbe2;">
    <div class="row">
        <div class="col-md-3 pull-left">
            <button class="btn btn-info" ng-click="add(-1)">
                添加
            </button>
        </div>

        <div class="col-md-7 pull-right">
            <div class="pull-right">
                <button class="btn btn-info" ng-click="activate()">
                    查询
                </button>
            </div>
            <div class="form-group pull-right" style="width:280px;padding-right: 20px;">
                <input type="text"
                       ng-model="tableParams.searchStr"
                       placeholder="输入登录名,姓名或者电话进行查找"
                       class="form-control"/>
            </div>
        </div>
    </div>

    <div style="margin-top: 10px;">
        <table ng-table="userTableParams" class="table table-bordered table-hover table-condensed editable-table table-min" style="table-layout: fixed;">
            <tr ng-repeat="item in $data" ng-dblclick="show(item.id)">
                <td data-title="'姓名'" style="text-align: center">{{item.name}}</td>
                <td data-title="'登录名'" style="text-align: center">{{item.userName}}</td>
                <td data-title="'电话'" style="text-align: center">{{item.phone}}</td>
                <td data-title="'职业'" style="text-align: center">{{item.job}}</td>
                <td data-title="'邮箱'" style="text-align: center">{{item.email}}</td>
                <td data-title="'操作'" style="text-align: center">
                    <button class="btn btn-info" ng-click="edit(item.id)">编辑</button>
                    <button class="btn btn-danger" ng-click="delete(item.id)">删除</button>
                </td>
            </tr>
        </table>
    </div>

</div>