<div class="container-fluid">

    <fieldset ng-disabled="type==0">
        <div class="row">
            <div class="col-md-12">
                <h5 style="margin-top: 0;" ng-show="type == 2">
                    <span class="icon-user"/>
                    添加用户
                </h5>
                <h5 style="margin-top: 0;" ng-show="type == 0">
                    <span class="icon-user"/>
                    查看用户
                </h5>
                <h5 style="margin-top: 0;" ng-show="type == 1">
                    <span class="icon-user"/>
                    编辑用户
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="text-info">
                    <span>I 基本属性  (红色为必填)</span>
                </label>
            </div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" style="color:red">登录名</span>
                    <input type="text" class="form-control" ng-model="user.userName"/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" style="color:red">密码</span>
                    <input type="password" class="form-control" ng-model="user.pwd">
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">姓名</span>
                    <input type="text" class="form-control" ng-model="user.name">
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">电话</span>
                    <input type="text" class="form-control" ng-model="user.phone">
                </div>
            </div>
        </div>
    </fieldset>


        <div class="row" style="text-align: center;margin-top:50px;">
            <div class="col-md-12" style="text-align: center;">
                    <button data-style="expand-left" ladda="loading" class="btn btn-primary" ng-click="save(user)" ng-if="type!=0">保存</button>
                    <button class="btn btn-primary" ng-click="closeThisDialog('cancel')">取消</button>
            </div>
        </div>

    </div>
</div>

