<div>

   <form role="form" class="form-inline pull-right">
      <div class="form-group">
         <input type="text"
                ng-model="filter.keywords"
                placeholder="货物重量"
                class="form-control"
                style="width:140px;"/>
      </div>
      <div class="form-group">
         <input type="text"
                ng-model="filter.department"
                placeholder="货物类型"
                class="form-control"
                style="width:140px;"/>
      </div>
      <div class="form-group">
         <input type="text"
                ng-model="filter.doctor"
                placeholder="价格"
                class="form-control"
                style="width:140px;"/>
      </div>
      <button type="submit" class="btn btn-default" ng-click="search()" style="background: #5AD490; color: #fff;" onclick="{this.disabled = true;var me = this;setTimeout(function() { me.disabled = false; }, 2000);}">
         查询
      </button>
   </form>
</div>

<!-- 表格数据展示区域 -->
<div style="margin-top: 15px;" class="min-table-height" block-ui="registrationTableBlock">
   <table ng-table="registrationTableParams"
          class="table table-bordered table-striped table-hover">
      <tr ng-repeat="row in $data">
         <td data-title="'序号'">{{row.id}}</td>
         <td data-title="'种类'">{{row.patient.name}}</td>
         <td data-title="'数量'">{{row.patient.phone}}</td>
         <td data-title="'重量'">{{row.department.name}}</td>
         <td data-title="'时间'">{{row.doctor.crmUser.name}}</td>
         <td data-title="'状态'">{{row.created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
         <td data-title="'发布人'">{{row.cost}}</td>
         <td data-title="'操作'">
            <button ng-if="row.receptionStatus == 0" class="btn btn-link" ng-click="delete(row.id)">删除</button>
         </td>
      </tr>
      <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td>合计:{{totalCost}}元/{{totalCount}}人</td>
         <td></td>
      </tr>
   </table>
</div>

<!-- 表格分页区域 -->
<div></div>
