<div ng-controller="OrgListController" style="background: #fff;overflow: auto;height:100%;padding: 15px;border: 1px solid #cfdbe2;">
    <div class="row">
        <div class="col-md-3 pull-left">
            <button class="btn btn-info" ng-click="add(-1)">
                添加
            </button>
        </div>

        <div class="col-md-7 pull-right">
            <div class="pull-right">
                <button class="btn btn-info" ng-click="activate()">
                    查询
                </button>
            </div>
            <div class="form-group pull-right" style="width:280px;padding-right: 20px;">
                <input type="text"
                       ng-model="tableParams.searchStr"
                       placeholder="输入机构名称进行查找"
                       class="form-control"/>
            </div>
        </div>
    </div>

    <div style="margin-top: 10px;">
        <table ng-table="orgTableParams" class="table table-bordered table-hover table-condensed editable-table table-min">
            <tr ng-repeat="item in $data" ng-dblclick="show(item.id)">
                <td data-title="'机构ID'" style="text-align: center;">{{item.orgId}}</td>
                <td data-title="'机构名称'" style="text-align: center">{{item.orgName}}</td>
                <td data-title="'联系人'" style="text-align: center">{{item.adminName}}</td>
                <td data-title="'联系人电话'" style="text-align: center">{{item.adminPhone}}</td>
                <td data-title="'机构类型'" style="text-align: center;">{{item.type}}</td>
                <td data-title="'微信是否开通'" style="text-align: center;">{{item.wechatStatus}}</td>
                <!--<td data-title="'操作'" style="text-align: center">-->
                    <!--<button class="btn btn-danger" ng-click="show(item.id)">查看下属机构</button>-->
                <!--</td>-->
            </tr>
        </table>
    </div>

</div>