.ngdialog.ngdialog-theme-default.large-dialog{
  padding-bottom: 20px;
  padding-top: 50px;
  z-index: 5000;
}

.ngdialog.ngdialog-theme-default.large-dialog  .ngdialog-content{
  width: 50%;
}

.ngdialog.ngdialog-theme-default.custom-width-800 .ngdialog-content {
  width: 80%;
}

.ngdialog.ngdialog-theme-default.custom-width-all .ngdialog-content {
  width: 97%;
}

.ngdialog.ngdialog-theme-default.custom-width-600 .ngdialog-content {
  width: 60%;
}

.ngdialog.ngdialog-theme-default.custom-width-850px .ngdialog-content {
  width: 850px;
}

.charge-compute {
  .his-input-group {
    width: 31%;
    margin-right: 1%;
    display: inline-flex;

    .input-group-addon {
      font-size: 1rem;
      font-weight: bold;
      background: #fff;
      border: none;
      padding: 5px;
      text-align: left;
      margin-top: 5px;
    }
  }
}

.drug-dispatch {
  .ui-select-bootstrap > .ui-select-choices {
    width: auto;
  }
  .ui-select-bootstrap .ui-select-choices-row > a {
    padding-left: 0;
    padding-right: 0;
  }

  .table-dropdown {
    a {
      padding: 0;
    }

    .table-dropdown-choices {
      span {
        display: table-cell;
        white-space: normal;
        vertical-align: middle;
        box-shadow: 1px 1px gainsboro;
        padding: 10px 0 7px;
        word-break: break-all;
        text-align: center;
      }
    }
  }
}
//护士站-打印收费单样式
#printThisElement {
  &, table {
    font-size: 12px;
  }
}

@borderColor: #e8e8e8;

.appointment-trigger {
  margin: 1.5em 0 .2em 0;
}

.appointment {
  overflow: hidden;
  padding-top: 1em;
  table {
    width: 100%;
  }
  th {
    background: #fcfcfc;
    font-weight: normal;
    padding: .8em 0;
    position: relative;
    text-align: center;
    white-space: nowrap;
    color: #333;
    border: solid 1px @borderColor;
    b {
      display: block;
      font-weight: normal;
    }
    s {
      text-decoration: none;
      display: block;
      position: relative;
    }
    &:first-of-type {
      b {
        &:after {
          display: none;
        }
      }
    }
    //假设医生名字至多3字
    &:nth-child(1) {
      min-width: 3em;
    }
    &:nth-child(2n-1) {
      background: #f6f6f6;
    }
    //第一个时间左对齐
    &:nth-child(2) {
      s {
        left: .5em;
      }
    }
  }

  tbody tr:hover{
    background: rgba(0, 0, 0, .02);
  }

  td {
    border: solid 1px @borderColor;
    padding: .2em 0;
    > div {
      margin: .2em;
      border-radius: .8em;
      padding: .2em .2em;
      background: rgba(72, 128, 223, 0.76);
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }
  }
  tr {
    td {
      &:first-of-type {
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }
  tfoot td {
    padding: 1.8em;
    background: #fff;
  }
}


/*
    护士站预约页面tooltip样式开始
*/
.classic-tooltip {
  position: absolute;
  left: -9999em;
  z-index: 9999;
  border-radius: .5em;
  padding: .5em 1em;
  width: 17em;
  margin-top: -10px;
  box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
  background: rgba(76, 100, 140, 0.86);
  color:#fff;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  font-size: 1rem;
  transform-origin: 50% calc(100% + 10px);
  transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
  transition: opacity 0.15s, transform 0.15s;
  text-align:center;
  dl {
    line-height: 230%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    text-align: left;
  }
  .btn-group {
    text-align: center;
    margin: .3em auto;
    display: inline-block;
  }
}

.classic-tooltip.hover {
  pointer-events: auto;
  opacity: 1;
  transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

/* 箭头 */
.classic-tooltip::after {
  content: '';
  position: absolute;
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: transparent;
  border-width: 10px;
}

.classic-tooltip.bottom::after {
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top-color: rgba(76, 100, 140, 0.86);
}

.classic-tooltip.right::after {
  border-left-color: rgba(76, 100, 140, 0.86);
  top: 50%;
  right: -20px;
  margin-left: -10px;
  margin-top: -10px;
}

/*
    护士站预约页面tooltip样式结束
*/

@media screen {
  #printSection {
    display: none;
  }
}
@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}
