<div class="container-fluid" block-ui="stock-in-detail">
    <h4 style="text-align: center;">
        入库单明细
    </h4>

    <div class="row form-inline inline-flex-form-group">
        <div class="col-lg-3" style="padding-left: 0;padding-right: 10px;">
            <div class="form-group">
                <label style="max-width: 63px;min-width: 63px;">入库类型:</label>
                <input style="width: 100%;" type="text" ng-model="stock.category" class="form-control" ng-disabled="1">
            </div>
        </div>
        <div class="col-lg-3" style="padding-left: 0;padding-right: 10px;">
            <div class="form-group">
                <label style="max-width: 63px;min-width: 63px;">入库时间:</label>
                <input style="width: 100%;" type="text" class="form-control"
                       ng-class="stock.$invalid.inTime && !stock.inTime?'field-dirty':''"
                       ng-click="openInTimeDayPicker(row)"
                       uib-datepicker-popup="{{format}}"
                       auto-fill-zero-in-date
                       is-open="inTimeDayPicker"
                       ng-model="stock.created"
                       ng-disabled="1"/>
            </div>
        </div>
        <div class="col-lg-3" style="padding-left: 0;padding-right: 0;">
            <div class="form-group">
                <label style="max-width: 63px;min-width: 63px;">供货单位:</label>
                <input style="width: 100%;" type="text" ng-model="stock.ghdw" class="form-control" ng-disabled="1">
            </div>
        </div>
        <div class="col-lg-3" style="padding-left: 0;padding-right: 0;">
            <div class="form-group">
                <label style="max-width: 63px;min-width: 63px;">单据号码:</label>
                <input style="width: 100%;" type="text" ng-model="stock.billNumber" class="form-control" ng-disabled="1">
            </div>
        </div>
    </div>

    <div class="row form-inline inline-flex-form-group">
        <div class="col-lg-12" style="padding-left: 0;padding-right: 0;">
            <div class="form-group">
                <label style="max-width: 35px;min-width: 35px;">备注:</label>
                <textarea style="width: 100%;" ng-model="stock.comment" class="form-control" ng-disabled="1"></textarea>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-12" style="padding-left: 0;padding-right: 0;">
            <div class="overflow-table stock-table">
                <table ng-table="stockItemTableParams"
                       class="table table-bordered table-hover table-condensed editable-table table-input">
                    <tr ng-repeat="row in $data">
                        <td title="'名称'">{{row.goods.name}}</td>
                        <td title="'规格'">{{row.goods.gg}}</td>
                        <td title="'单位'">{{row.goods.dw}}</td>
                        <td title="'产地'">{{row.goods.cjmc}}</td>
                        <td title="'入库数量'">{{row.count}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
