<div class="col-xs-12">
    <button class="btn btn-info" ng-click="addNewInStock()">
        <span class="fa fa-plus"></span>
        入库
    </button>
    <form role="form" class="form-inline pull-right">
        <div class="form-group">
            <!--各种查询条件-->
            <input
                    style="width: 150px;"
                    ng-model="tableParams.searchStr"
                    class="form-control"
                    placeholder="入库人"/>

            <button class="btn btn-info form-control" ng-click="search()">
                查询入库记录
            </button>
        </div>
    </form>
</div>

<div class="col-xs-12" style="height: calc(100% - 45px);padding-bottom:40px;margin-top:10px;">
    <table ng-table="stockInTableParams" class="table table-condensed table-bordered table-striped" style="border: 1px solid #eeeeee;">
        <tr ng-repeat="row in $data" ng-dblclick="openStockInDetail(row.id)" style="text-align: center;">
            <td data-title="'入库编号'">{{row.id}}</td>
            <td data-title="'入库类型'">{{row.category}}</td>
            <td data-title="'供货单位'">{{row.ghdw}}</td>
            <td data-title="'入库人'">{{row.userName}}</td>
            <td data-title="'入库时间'">{{row.created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td data-title="'操作'">
                <a class="" ng-click="openStockInDetail(row.id)">查看入库明细</a>
            </td>
        </tr>
        <tfoot ng-if="!$data || $data.length<1">
        <tr>
            <td colspan="6" style="text-align: center;"> 无数据 </td>
        </tr>
        </tfoot>
    </table>
</div>