<div ng-show="false" style="text-align: center;padding-top: 25%;">
    <div style="margin-bottom: 20px;">
        该用户尚未绑定微信
    </div>

    <a ng-click="getQrCode()">请点此绑定微信</a>
</div>

<div style="height: 100%;padding:0;" ng-show="true">
    <div style="height: 69%;text-align:center;">
        <ul style="list-style-type: none;padding: 0;height: 100%;overflow:auto;" id="wechatMessageList">
            <li ng-repeat="msg in message.messageList" style="width: calc(100% - 10px);">
                <div ng-if="msg.type === 2" style="text-align: left;">
                    <div style="display: inline-block;">
                        <div style="text-align:left;padding: 10px 0 3px 20px;font-size: 12px;">
                            {{msg.created | date:'yyyy-MM-dd HH:mm:ss'}}
                        </div>
                        <!--<div style="text-align:left;padding: 10px 0 3px 20px;font-size: 12px;"-->
                             <!--ng-if="msg.created >= todayTime">{{msg.created | date:'hh:mm'}}-->
                        <!--</div>-->
                        <div class="bubble-left-content">
                            <span>{{msg.message}}</span>
                        </div>
                    </div>
                </div>

                <div ng-if="msg.type === 1" style="text-align: right;">
                    <div style="display: inline-block;">
                        <div style="text-align:left;padding: 10px 0 3px 10px;" class="description_text_lightgrey">
                            {{msg.created | date:'yyyy-MM-dd HH:mm:ss'}}
                        </div>
                        <!--<div style="text-align:left;padding: 10px 0 3px 10px;" class="description_text_lightgrey"-->
                             <!--ng-if="msg.created >= todayTime">{{msg.created | date:'HH:mm'}}-->
                        <!--</div>-->
                        <div class="bubble-right-content">
                            <span>{{msg.message}}</span>
                        </div>
                    </div>

                </div>
            </li>
        </ul>

        <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="5"
            items-per-page="itemsPerPage" ng-change="fetchMessages(currentPage)" class="pagination-sm"
            boundary-link-numbers="true"></ul>
    </div>
    <div class="wechat-input-area" style="padding-top:65px;">
        <!--<button ng-click="sendMsg()" class="chat-send-btn">发送</button>-->
        <textarea id="enterElement" ng-model="msgTextarea.content" ng-keydown="$event.keyCode == 13 && sendMessage();"
                  style="height:100%;width:100%;border: 1px solid lightgray;"></textarea>
    </div>
</div>