<div ng-controller="StudentWorktableController" class="container-fluid" style="height: 100%;">

    <div class="row panel" style="margin-left:1px;margin-right:1px;margin-bottom: 10px;">
        <div class="col-xs-12" style="margin-top:5px;margin-bottom: 5px;padding-left: 0;">
            <div style="display: inline-block;font-weight: bold;font-size:15px;">
                <form class="form-inline pull-left">
                    <span class="fa fa-search"/>
                    <div class="form-group">
                        <span>当前共有2个校区;</span>
                    </div>
                    <div class="form-group">
                        <span>总共4个年级;</span>
                    </div>
                    <div class="form-group">
                        <span>总共40个班级;</span>
                    </div>
                    <div class="form-group">
                        <span>总注册学生人数:2000人</span>
                    </div>
                </form>
            </div>
            <form class="form-inline pull-right">
                <div class="form-group">
                    <input type="text" class="form-control" style="width:300px;"
                           placeholder="输入姓名,学号,身份证或者电话号码"
                           ng-focus="departmentCtrl.render().show()"
                           ng-click="departmentCtrl.show()"
                           ng-model="filter.department"
                           auto-complete="departmentCtrl">
                    <button class="btn btn-info" ng-click="search()">查询</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="height:100%;padding-bottom: 50px;">
        <div ng-if="true" class="col-xs-3" style="height: 100%;padding-right: 0px;">
            <div class="panel" style="height: 100%;margin-bottom: 0px;overflow: auto;">
                <div style="text-align: center;font-weight: bold;padding-top:15px;padding-bottom: 10px;">
                    <span>共查询到{{obj.totalCount}}条记录</span>
                </div>
                <table ng-table="studentTableParams" class="table table-condensed table-bordered table-striped" style="border: 1px solid #eeeeee;">
                    <tr ng-repeat="row in $data" ng-dblclick="" style="text-align: center;">
                        <td data-title="'姓名'">{{row.name}}</td>
                        <td data-title="'性别'">{{row.gender}}</td>
                        <td data-title="'年龄'">{{row.age}}</td>
                        <td data-title="'年级'">{{row.name}}</td>
                        <td data-title="'操作'">
                            <a class="" ng-click="">详细</a>
                        </td>
                    </tr>
                    <tfoot ng-if="!$data || $data.length<1">
                        <tr>
                            <td colspan="5" style="text-align: center;"> 无数据 </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div ng-if="true" class="col-xs-9" style="height: 100%;">
            <div class="panel" style="height: 100%;" >
                <uib-tabset class="tab-full-content" style="height: 100%;" justified="true">
                    <uib-tab active="true"
                        style="text-align: center;">
                        <uib-tab-heading>
                            基本信息
                        </uib-tab-heading>
                        <div ng-include="'app/views/custom/student/student-info.html'">
                        </div>
                    </uib-tab>
                    <uib-tab active="false"
                        style="text-align: center;">
                        <uib-tab-heading>
                            成绩信息
                        </uib-tab-heading>
                        <div>
                            tab2
                        </div>
                    </uib-tab>
                    <uib-tab active="false"
                             style="text-align: center;">
                        <uib-tab-heading>
                            缴费信息
                        </uib-tab-heading>
                        <div>
                            tab2
                        </div>
                    </uib-tab>
                    <uib-tab active="false"
                             style="text-align: center;">
                        <uib-tab-heading>
                            奖惩记录
                        </uib-tab-heading>
                        <div>
                            tab2
                        </div>
                    </uib-tab>
                    <uib-tab active="false"
                             style="text-align: center;">
                        <uib-tab-heading>
                            毕业去向
                        </uib-tab-heading>
                        <div>
                            tab2
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>

</div>