<div ng-controller="StudentWorktableController" class="container-fluid" style="height: 100%;">
        <div class="row" style="width: 25%;height: 100%;">
            <div class="col-lg-3">
            <uib-tabset class="his-tab-container" style="height: 100%;" justified="true">
                <uib-tab active="true" select="changeTab('registration')"
                         style="text-align: center;">
                    <uib-tab-heading>
                        测试tab1
                    </uib-tab-heading>
                    <div>
                        xxxxxxxxxxxxxxxxyyyyyyyyyyy
                    </div>
                </uib-tab>
                <uib-tab active="false" select="changeTab('registration')"
                         style="text-align: center;">
                    <uib-tab-heading>
                        测试tab2
                    </uib-tab-heading>
                    <div>
                        xxxxxxxxxxxxxxxxyyyyyyyyyyy
                    </div>
                </uib-tab>
            </uib-tabset>
                </div>

            <div class="col-lg-9">
                <div class="panel panel-default" style="height: 100%;" >
                    <!--<uib-tabset class="his-tab-container" style="height: 100%;">-->
                    <!--<uib-tab active="true" select="changeTab('registration')"-->
                    <!--style="width: 250px;text-align: center;">-->
                    <!--<uib-tab-heading>-->
                    <!--测试tab-->
                    <!--</uib-tab-heading>-->
                    <!--<div ng-include="'app/views/custom/student/student-info.html'">-->
                    <!--</div>-->
                    <!--</uib-tab>-->
                    <!--</uib-tabset>-->
                </div>
            </div>
        </div>
</div>