<div ng-controller="StudentAddBatchController" style="overflow: auto;background: #fff;height:100%;padding: 15px;">
    <div class="row" style="margin-left: 0px;margin-right: 0px;">
        <div class="col-lg-7" style="padding-left:0px;padding-right:0px;">
            <div style="font-size:15px;font-weight: bold;">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                学生信息导入
            </div>

            <div style="padding-top:30px;">
                <div>
                    <span style="font-weight: bold;">I 使用提示</span>
                </div>
                <p style="text-indent: 2em;padding-top:10px;">1. 首先下载导入学生需要的模板, 然后按照模板内容进行填写.</p>
                <p style="text-indent: 2em;">2. 上传模板进行导入.</p>
                <p style="text-indent: 2em;">3. 如果有出错信息就重新填写并上传!</p>
            </div>

            <div style="padding-top:30px;">
                <div>
                    <spans style="font-weight: bold;">II 上传学生导入文件(支持xls和xlsx格式)</spans>
                    <button class="btn btn-info" ng-click="downloadExcel()">下载学生导入模版文件</button>
                </div>
                <div ng-controller="UploadStudentFileController as form" style="padding-top:10px;">
                    <input filestyle="" type="file" data-button-text="选择学生导入文件" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="form.uploader" class="form-control" ng-disabled="form.uploader.queue.length >= 1" />
                    <!--<div>-->
                        <!--<input class="filename" type="text"  readonly="readonly" />-->
                        <!--<a href="javascript:;" name="file">-->
                            <!--<input type="file" name="key" nv-file-select uploader="form.uploader"/>浏览-->
                        <!--</a>-->
                    <!--</div>-->
                    <div ng-if="form.uploader.queue.length">
                        <table ng-if="form.uploader.queue.length" class="table">
                            <thead>
                            <tr>
                                <th width="30%">名称</th>
                                <th ng-show="form.uploader.isHTML5">大小</th>
                                <th ng-show="form.uploader.isHTML5">进度</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in form.uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                </td>
                                <td ng-show="form.uploader.isHTML5" nowrap="">{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="form.uploader.isHTML5">
                                    <div style="margin-bottom: 0;" class="progress progress-xs">
                                        <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" class="progress-bar"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                 <span ng-show="item.isSuccess">
                                    <em class="fa fa-check fa-fw"></em>
                                 </span>
                                 <span ng-show="item.isCancel">
                                    <em class="fa fa-ban-circle fa-fw"></em>
                                 </span>
                                 <span ng-show="item.isError">
                                    <em class="fa fa-times fa-fw"></em>
                                 </span>
                                </td>
                                <td nowrap="">
                                    <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-info btn-xs">
                                        <span class="icon-cloud-upload mr"></span>上传</button>
                                    <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading" class="btn btn-warning btn-xs">
                                        <span class="icon-close mr"></span>取消</button>
                                    <button type="button" ng-click="item.remove()" class="btn btn-danger btn-xs">
                                        <span class="icon-trash mr"></span>移除</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>