<div ng-controller="AdmissionWorktableController" class="container-fluid" style="height: 100%;">
    <div class="panel panel-default" style="height: 100%;" >
        <uib-tabset class="uibtab" style="height: 100%;">
            <uib-tab active="true" select="changeTab('registration')"
                     style="width: 250px;text-align: center;">
                <uib-tab-heading>
                    测试tab
                </uib-tab-heading>
                <div ng-include="'app/views/custom/admission/admission.html'">
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>