<div ng-controller="ExamController as exam" style="background: #fff;overflow: auto;height:100%;padding: 15px;border: 1px solid #cfdbe2;">
    <div class="row">
        <div class="col-md-3 pull-left">
            <button class="btn btn-info" ng-click="add(-1)">
                添加
            </button>
        </div>

        <div class="col-md-7 pull-right">
            <div class="pull-right">
                <button class="btn btn-info" ng-click="activate()">
                    查询
                </button>
            </div>
            <div class="form-group pull-right" style="width:280px;padding-right: 20px;">
                <input type="text"
                       ng-model="tableParams.searchStr"
                       placeholder="输入考试名称进行查找"
                       class="form-control"/>
            </div>
        </div>
    </div>

    <div style="margin-top: 10px;">
        <table ng-table="examTableParams" class="table table-bordered table-hover table-condensed editable-table table-min">
            <tr ng-repeat="item in $data" ng-dblclick="show(item.id)">
                <td data-title="'考试ID'" style="text-align: center;">{{item.examId}}</td>
                <td data-title="'考试名称'" style="text-align: center">{{item.examName}}</td>
                <td data-title="'所属年级'" style="text-align: center">{{item.gradeId}}</td>
                <td data-title="'年级别名'" style="text-align: center">xx</td>
                <td data-title="'上传成绩'" style="text-align: center;">已上传</td>
                <td data-title="'分析成绩'" style="text-align: center">已分析/已发布</td>
                <td data-title="'操作'" style="text-align: center">
                    <button class="btn btn-info" ng-click="analyze(item.id)" ng-if="item.status == 0">发布成绩结果</button>
                    <button class="btn btn-danger" ng-click="delete(item.id)">删除</button>
                </td>
            </tr>
        </table>
    </div>

</div>