<div ng-controller="TemplateEditController as tree"  class="container-fluid" style="height: 100%;overflow:hidden;">
    <div class="row" style="height:100%;">
        <div class="col-xs-3" style="height: 100%;padding-right: 0px;">
            <div class="panel panel-default" style="height: 100%;margin-bottom: 0px;overflow: auto;padding-top:10px;">
                <span ng-if="tree.doing_async">...loading...</span>
                <abn-tree tree-data="tree.my_data" tree-control="tree.my_tree" on-select="tree.my_tree_handler(branch)" expand-level="2" initial-selection="Granny Smith"></abn-tree>
            </div>
        </div>

        <div class="col-xs-8" style="height: 100%;">
            <div class="panel panel-default" style="height: 100%;padding-top:10px;" >
                <!--分数线设置-->
                <div ng-if="tree.label == '分数线设置'">
                    <div class="col-xs-6">
                        用于设置各科目的满分线, 优秀线, 良好线, 及格线等!
                    </div>
                </div>
                <div ng-if="tree.label == '语文'">
                    <div class="col-xs-6 info-block">
                        <span class="label">语文满分:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.chineseFull" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">语文优秀线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.chinesebest" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">语文良好线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.chinesegood" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">语文及格线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.chineseQualified" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                </div>
                <div ng-if="tree.label == '数学'">
                    <div class="col-xs-6 info-block">
                        <span class="label">数学满分:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.mathFull" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">数学优秀线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.mathbest" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">数学良好线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.mathgood" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">数学及格线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.mathQualified" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                </div>
                <div ng-if="tree.label == '英语'">
                    <div class="col-xs-6 info-block">
                        <span class="label">英语满分:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.englishFull" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">英语优秀线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.englishbest" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">英语良好线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.englishgood" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">英语及格线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.englishQualified" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                </div>
                <div ng-if="tree.label == '政治'">
                    <div class="col-xs-6 info-block">
                        <span class="label">政治满分:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.politicFull" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">政治优秀线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.politicbest" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">政治良好线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.politicgood" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">政治及格线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.politicQualified" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                </div>
                <div ng-if="tree.label == '历史'">
                    <div class="col-xs-6 info-block">
                        <span class="label">历史满分:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.historyFull" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">历史优秀线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.historybest" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">历史良好线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.historygood" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">历史及格线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.historyQualified" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                </div>
                <div ng-if="tree.label == '地理'">
                    <div class="col-xs-6 info-block">
                        <span class="label">地理满分:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.geoFull" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">地理优秀线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.geobest" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">地理良好线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.geogood" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">地理及格线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.geoQualified" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                </div>
                <div ng-if="tree.label == '物理'">
                    <div class="col-xs-6 info-block">
                        <span class="label">物理满分:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.physicsFull" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">物理优秀线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.physicsbest" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">物理良好线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.physicsgood" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">物理及格线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.physicsQualified" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                </div>
                <div ng-if="tree.label == '化学'">
                    <div class="col-xs-6 info-block">
                        <span class="label">化学满分:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.chemistryFull" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">化学优秀线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.chemistrybest" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">化学良好线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.chemistrygood" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">化学及格线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.chemistryQualified" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                </div>
                <div ng-if="tree.label == '生物'">
                    <div class="col-xs-6 info-block">
                        <span class="label">生物满分:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.biologyFull" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">生物优秀线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.biologybest" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">生物良好线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.biologygood" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-6 info-block">
                        <span class="label">生物及格线:</span>
                        <div class="info-item">
                            <input type="number" min="0" max="150" ng-model="scoreTemplate.courseTotalSetting.biologyQualified" placeholder="分数"  class="form-control"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xs-1" style="height: 100%;">
            <button class="btn btn-info" ng-click="save()">
                保存
            </button>
            <button class="btn btn-danger" style="margin-top: 10px;" ng-click="closeThisDialog('cancel')">
                取消
            </button>
        </div>
    </div>
</div>