<div ng-controller="AnalyzeScoreController" style="overflow: auto;background: #fff;height:100%;padding: 15px;border: 1px solid #cfdbe2;">
    <div class="row" style="margin-left: 0px;margin-right: 0px;">
        <div class="col-lg-7" style="padding-left:0px;padding-right:0px;">
            <div style="font-size:15px;font-weight: bold;">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                录入成绩并进行分析
            </div>

            <div style="padding-top:20px;">
                <hr/>
                <h5>I 选择考试</h5>
                <ui-select ng-model="data.examId" theme="bootstrap"
                           class="text-left" style="width:100%;" on-select="selectExam($item)">
                    <ui-select-match placeholder="选择考试">{{$select.selected.examName}}
                    </ui-select-match>
                    <ui-select-choices repeat="exam.examId as exam in examList">
                        <span ng-bind-html="exam.examName"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <hr/>

            <div style="padding-top:0px;">
                <div>
                    <spans style="font-weight: bold;">II 上传成绩文件(支持xls和xlsx格式)</spans>
                    <button class="btn btn-info">下载成绩导入模版文件</button>
                </div>
                <div ng-controller="UploadFileController as form" style="padding-top:10px;">
                    <input filestyle="" type="file" data-button-text="选择成绩文件" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="form.uploader" class="form-control" ng-disabled="form.uploader.queue.length >= 1" />
                    <div ng-if="form.uploader.queue.length">
                        <table ng-if="form.uploader.queue.length" class="table">
                            <thead>
                            <tr>
                                <th width="30%">名称</th>
                                <th ng-show="form.uploader.isHTML5">大小</th>
                                <th ng-show="form.uploader.isHTML5">进度</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in form.uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                </td>
                                <td ng-show="form.uploader.isHTML5" nowrap="">{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="form.uploader.isHTML5">
                                    <div style="margin-bottom: 0;" class="progress progress-xs">
                                        <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" class="progress-bar"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                 <span ng-show="item.isSuccess">
                                    <em class="fa fa-check fa-fw"></em>
                                 </span>
                                 <span ng-show="item.isCancel">
                                    <em class="fa fa-ban-circle fa-fw"></em>
                                 </span>
                                 <span ng-show="item.isError">
                                    <em class="fa fa-times fa-fw"></em>
                                 </span>
                                </td>
                                <td nowrap="">
                                    <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-info btn-xs">
                                        <span class="icon-cloud-upload mr"></span>上传</button>
                                    <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading" class="btn btn-warning btn-xs">
                                        <span class="icon-close mr"></span>取消</button>
                                    <button type="button" ng-click="item.remove()" class="btn btn-danger btn-xs">
                                        <span class="icon-trash mr"></span>移除</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr/>

            <div style="padding-top:0px;">
                <h5>III 选择分析模版</h5>
                <ui-select ng-model="data.templateId" theme="bootstrap"
                           class="text-left" style="width:100%;" on-select="selectTemplate($item)">
                    <ui-select-match placeholder="选择分析册模板">{{$select.selected.examName}}
                    </ui-select-match>
                    <ui-select-choices repeat="template.id as template in templateList">
                        <span ng-bind-html="template.templateName"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <hr/>

            <button class="btn btn-info">
                开始分析
            </button>
        </div>
        <div class="col-lg-4">
            <p>使用提示:</p>
            <p>1. 首先选择需要进行分析的考试, 上传的成绩将会自动保存到学生的成绩信息里面, 您可在学生信息->成绩信息进行查看或者更新, 学生排名会随之变化!</p>
            <p>2. </p>
        </div>
    </div>
</div>